#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.photograph-header__card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 50px;
}

.contact_button_container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  height: 70px;
}

.medias-section {
  display: flex;
  flex-direction: column;
  margin: 20px 100px 0 100px;
}

.medias-section__sorter {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  gap: 25px;
  z-index: 1;
}
#collapse {
  width: 170px;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 300%, 0% 300%);
}
#collapse button {
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#collapse p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}
.collapse__chosen {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
/* Animation de l'icone  */
.collapse__chosen__icon {
  position: absolute;
  background-image: url(../assets/icons/up.svg);
  background-repeat: no-repeat;
  right: 15px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  background-size: contain;
  content: "";
  width: 25px;
  height: 25px;
  align-self: center;
}

.collapse__chosen--open {
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  margin-bottom: 10px;
  height: 60px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* animation du container */
.collapse__other-choices-container {
  position: absolute;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  top: -40px;
  height: 110px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.collapse__other-choices-container--open {
  transform: translateY(+100px);
  transition: all 0.5s ease-in-out;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.collapse__other-choices-container button {
  border-radius: 0;
  height: 55px;
  position: relative;
}

.divider {
  position: absolute;
  top: 0;
  left: 10px;
  width: 150px;
  height: 1px;
  background-color: #fff;
  color: transparent;
}

.medias-section__medias {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  padding-top: 20px;
}

.media-card {
  display: flex;
  flex-direction: column;
  animation: card-fadeIn 500ms forwards;
}

.media-card:nth-child(3n + 1) {
  align-items: flex-start;
}
.media-card:nth-child(3n + 2) {
  align-items: center;
}
.media-card:nth-child(3n) {
  align-items: flex-end;
}

.media-card__image-container {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  background: #c4c4c4;
  position: relative;
  cursor: pointer;
}
.media-card__image-container::before {
  position: absolute;
  content: " ";
  width: 340px;
  height: 290px;
  border: 5px solid #db8876;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.media-card__image-container:hover::before {
  opacity: 1;
}
.media-card__text-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 10px;
  width: 350px;
}
.media-card__text-container__title {
  color: #901c1c;
  font-size: 24px;
  margin: 0;
}
.media-card__text-container__likes {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.media-card__text-container__likes img {
  width: 21px;
  height: 24px;
}
.media-card__text-container__likes___amount {
  margin: 0;
}

aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px 30px;
  width: 375px;
  position: sticky;
  bottom: 0;
  left: 100%;
  background-color: #db8876;
  font-weight: 500;
  font-size: 24px;
}
aside p {
  margin: 0;
}

.like-container {
  position: relative;
  display: flex;
}

.like-container__icon {
  position: absolute;
  background-image: url(../assets/icons/like-black.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 25px;
  align-self: center;
  right: -30px;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

@keyframes card-fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
