.photographer-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.photographer-header__card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 50px;
}

.contact_button_container {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  height: 70px;
}

.medias-section {
  display: flex;
  flex-direction: column;
  margin: 20px 100px 0 100px;
}

.medias-section__sorter {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  gap: 25px;
  z-index: 1;
}

#collapse {
  width: 170px;
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 300%, 0% 300%);
}

#collapse button {
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#collapse p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.collapse__chosen {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}

/* Animation de l'icone  */
.collapse__chosen__icon {
  position: absolute;
  background-image: url(../assets/icons/up.svg);
  background-repeat: no-repeat;
  right: 15px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  background-size: contain;
  content: "";
  width: 25px;
  height: 25px;
  align-self: center;
}

.collapse__chosen--open {
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  margin-bottom: 10px;
  height: 60px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* animation du container */
.collapse__other-choices-container {
  position: absolute;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  top: -40px;
  height: 110px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.collapse__other-choices-container--open {
  transform: translateY(+100px);
  transition: all 0.5s ease-in-out;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.collapse__other-choices-container button {
  border-radius: 0;
  height: 55px;
  position: relative;
}

.divider {
  position: absolute;
  top: 0;
  left: 10px;
  width: 150px;
  height: 1px;
  background-color: #fff;
  color: transparent;
}

.medias-section__medias {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  padding-top: 20px;
}

.media-card {
  display: flex;
  flex-direction: column;
  animation: card-fadeIn 500ms forwards;
}

.media-card:nth-child(3n + 1) {
  align-items: flex-start;
}

.media-card:nth-child(3n + 2) {
  align-items: center;
}

.media-card:nth-child(3n) {
  align-items: flex-end;
}

.media-card__media-container {
  width: 350px;
  height: 300px;
  border-radius: 5px;
  background: #c4c4c4;
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}

.media-card__media-container__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.media-card__media-container:hover,
.media-card__media-container:active {
  transform: scale(1.05);
}

.media-card__text-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 10px;
  width: 350px;
}

.media-card__text-container__title {
  color: #901c1c;
  font-size: 24px;
  margin: 0;
}

.media-card__text-container__likes {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
  font-family: Roboto;
  font-size: 16px;
  color: #000;
}

.media-card__text-container__likes--liked {
  color: #901c1c;
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 500;
}

.media-card__text-container__likes:hover {
  transform: scale(1.2);
}

.media-card__text-container__likes img {
  width: 21px;
  height: 24px;
}

.media-card__text-container__likes___amount {
  margin: 0;
}

aside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px 30px;
  width: 375px;
  position: sticky;
  bottom: 0;
  left: 100%;
  background-color: #db8876;
  font-weight: 500;
  font-size: 24px;
}

aside p {
  margin: 0;
}

.like-container {
  position: relative;
  display: flex;
}

.like-container__icon {
  position: absolute;
  background-image: url(../assets/icons/like-black.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 25px;
  align-self: center;
  right: -30px;
}

#contact_modal {
  display: block;
  width: 670px;
  height: 900px;
}

#modal-container {
  position: absolute;
  display: none;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(196, 196, 196, 0.4);
  z-index: 3;
}

#lightbox_modal {
  display: none;
  position: relative;
  background-color: #fff;
  width: 1253px;
  height: 984px;
  margin-top: 40px;
  padding-top: 22px;
  justify-content: space-between;
}

.lightbox__content {
  display: flex;
  flex-direction: column;
}

.lightbox__content__media-container {
  width: 1050px;
  height: 900px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  background-color: #c4c4c4;
}

.lightbox__content__media-container img,
.lightbox__content__media-container video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.lightbox__content__title {
  color: #901c1c;
  font-size: 24px;
}

.lightbox__previous,
.lightbox__next {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.lightbox__previous img,
.lightbox__next img {
  width: 96px;
  height: 96px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.lightbox__close {
  position: absolute;
  right: 0;
  top: 0;
}

.lightbox__close img {
  width: 72px;
  height: 72px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.lightbox__previous img:hover,
.lightbox__next img:hover,
.lightbox__close img:hover {
  transform: scale(1.2);
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 35px 35px 35px;
  margin: 70px auto;
  width: 670px;
}

.modal__header {
  width: 100%;
  position: relative;
}

.modal img {
  margin-top: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 72px;
  height: 72px;
}

.modal h2,
.modal h3 {
  margin: 0;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

form textarea {
  width: 100%;
  height: 170px;
  border: none;
  border-radius: 5px;
}

@keyframes card-fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}