@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

button {
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  width: 170px;
  color: #fff;
}

button:hover,
button:focus {
  background-color: #d3573c;
}

.logo {
  height: 50px;
}

.homePage_link {
  height: 50px;
  margin-left: 100px;
  border-right: 20px solid transparent;
}

.homePage_link:hover,
.homePage_link:focus {
  border-right-color: #d3573c;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.name {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
}

.profile_img {
  object-fit: cover;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
  flex-shrink: 0;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #c4c4c4;
}

.img_container:before {
  position: absolute;
  content: " ";
  width: 200px;
  height: 200px;
  border: 5px solid #db8876;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.photographer_section article:hover .img_container:before {
  opacity: 1;
}

.text_container p {
  margin: 0;
}
.location {
  color: #901c1c;
}
.quote {
  color: #000;
}

.invisible_helper_text {
  position: absolute;
  top: -1000px;
}
